@model Customer
@{
	Layout = "layout2";
}
<table>
    <tr>
        <td>Name</td>
        <td>email</td>
        <td>phone number</td>
        <td>Address</td>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.PhoneNumber</td>
        <td>@Model.Address</td>
    </tr>
</table>









