@{
	Layout = "Layout2";
}

 <main>

<div>
        <div class="container">
            <div class="row" >
            
                
                <div class="col-lg-5 col-md-5 col-sm-12"   >

                    <p class="welcome"style="margin-top:90px;">Contact Us</p>
                    <p style="font-style: italic; color:black;">If you want to contact us physically you can meet us at our original location 
                        this is the address of our store you can ask ask us any thing related to your pet health abd food.
                        
                        If you want to contact us physically you can meet us at our original location 
                        this is the address of our store you can ask ask us any thing related to your pet health abd food.
                        If you want to contact us physically you can meet us at our original location 
                        this is the address of our store you can ask ask us any thing related to your pet</p>
                </div>
                
            <div class="col-lg-2 col-md-1 col-sm-0"><p style="color:black;"> </p></div>
                <div class="col-lg-5 col-md-6 col-sm-12" >
                    <div class="contact-container">
                   <h2 class="contact-title">Write A Message</h2>
                        <form method="post" >
                            <div class="form-group my-2">
                              <label for="username">First Name</label>
                              <input type="text" class="form-control form-color" id="username" placeholder="First Name" name="fname">
                            </div>
            
                            <div class="form-group my-2">
                                <label for="username">Last Name</label>
                                <input type="text" class="form-control form-color" id="username" placeholder="Last Name" name="lname">
                              </div>
            
                              <div class="form-row my-3">
                                <label for="appointmentReason">What can we help you?</label>
                                <textarea class="form-control form-color" id="appointmentReason" rows="3" placeholder="Write Message" required></textarea>
                            </div>
            
                            <div class="sign-up-container">
                              <div class="row"><button type="submit" class="btn btn-login btn-block ">Send Message</button>
                              </div>
                            </div>
                            </form>
                    </div>
                </div>
             
            </div>
            </div>




        </div>


 </main>

